name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: biomejs/setup-biome@v2
      - run: biome ci
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
      - run: npm ci
      - run: npm run build
